head
    meta(charset="UTF-8")
    title #{ head.title }
    // og meta
    meta(property="og:type", value="website")
    meta(property="og:title", value=head.title)
    meta(property="og:description", value=head.description)
    meta(property="og:url", value=head.url)
    // twitter meta
    meta(name="twitter:card", value="summary")
    meta(name="twitter:title", value=head.title)
    meta(name="twitter:description", value=head.description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // css
    link(rel="stylesheet", href="/static/terminal.css")
    link(rel="stylesheet", href="/static/main.css")
    link(rel="stylesheet", href="/static/hljs.css")

    if theme === "dark"
        link(rel="stylesheet", href="/static/dark-mode.css")

.terminal-nav.container
    .terminal-logo
        .logo
            a.no-style(href="/") Pastebin.fi
    nav.terminal-menu
        ul
            li
                a.menu-item(href="/browse") Selaa liitteitä
            li
                a.menu-item(href="/about") Tietoa meistä
            li
                a.menu-item(href="/settings") Asetukset