doctype html
html(lang="fi")
    include includes/head.pug

    br
    br
    main.container
        div
            h2 #{ paste.title }
            .btn-group(style="float: right; position: block")
                a.btn.btn-default.btn-ghost(href=`/r/${paste.id}`) Raaka
                a.btn.btn-default(href=`/dl/${paste.id}`) Lataa (#{ paste.meta.size } tavua)

            p #{ paste.date } | #{ paste.meta.views } katselukertaa | #{ paste.hidden ? 'Piilotettu' : 'Julkinen' }
        br 
        br
        pre
            code !{ paste.content }
